:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --black-color: #000000;
  --secondary-background-color: #f5f4fa;
  --third-background-color: #2f303a;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
}

/* Body */

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* List style */

.list {
  list-style: none;
}

/* No gap */

.no-gap {
  display: block;
}

/* Reset margin */

h1,
h2,
h3,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
}

/* Container */

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Section padding */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*  Logo header & footer */

.logo {
  margin-right: 93px;
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-black {
  color: var(--black-color);
}

.logo-white {
  color: var(--white-color);
}

.header-bg {
  background-color: var(--white-color);
  border-bottom: 1px solid #ececec;
  min-height: 80px;
}

/* Site navigation */

.main-nav {
  display: flex;
  align-items: center;
  padding-top: 24px;
}

.site-nav {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0px;
}

.site-nav .nav-link {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .nav-link:hover,
.site-nav .nav-link:focus {
  color: var(--accent-color);
}

.site-nav .current {
  color: var(--accent-color);
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
}
.auth-nav .auth-link {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.auth-nav .auth-link:hover,
.auth-nav .auth-link:focus {
  color: var(--accent-color);
}

.auth-nav .item:not(:last-child) {
  margin-right: 50px;
}

/* Filter button*/

.filter-box {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  padding-left: 0;
}

.filter-btn {
  padding: 6px 22px;
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  color: var(--title-text-color);
  background-color: var(--secondary-background-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
}

.filter-box .item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn:focus,
.filter-btn:hover,
.active-btn {
  background-color: var(--accent-color);
  color: var(--white-color);
}

/* Button */

.btn {
  display: flex;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  background-color: var(--accent-color);
  color: var(--white-color);
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* Section */

.hero-bg {
  background-color: var(--third-background-color);
  min-height: 600px;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 200px;
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefit-item {
  display: flex;
  padding-left: 0;
  padding-top: 94px;
}
.benefit-item .item {
  width: 270px;
}
.benefit-item .item:not(:last-child) {
  margin-right: 30px;
}

.benefit {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.benefit-title {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.71;
}

.section .section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.specilization {
  display: flex;
  padding-left: 0;
}

.specilization .item:not(:last-child) {
  margin-right: 30px;
}

.team-bg {
  background-color: var(--secondary-background-color);
}

.employee {
  display: flex;
  padding-left: 0;
}

.employee .employee-list:not(:last-child) {
  margin-right: 30px;
}

.section .employee-name {
  margin-top: 30px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.section .employee-position {
  margin-top: 10px;
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Portfolio section */

.project {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  padding-right: 0;
}

.project .item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.project .item:nth-child(3n) {
  margin-right: 0;
}
.project .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.project .image-title {
  padding-top: 20px;
  padding-left: 24px;
  color: var(--title-text-color);
  font-size: 18px;
  letter-spacing: 0.06em;
}

.project .affiliation {
  margin-top: 4px;
  padding-bottom: 20px;
  padding-left: 24px;
  font-size: 16px;
}

.title-border {
  border: 1px solid #eeeeee;
  border-top: none;
}

/* Footer */

.footer-bg {
  background-color: var(--third-background-color);
}

.footer .logo {
  display: inline-block;
  margin-right: 0;
  margin-bottom: 20px;
  padding-top: 60px;

  font-style: normal;
}

.footer .address {
  padding-bottom: 60px;
  padding-left: 0;
}

.footer .footer-address {
  color: var(--white-color);
  font-style: normal;
  line-height: 1.71;
  text-decoration: none;
}

.footer .footer-link {
  display: block;
  margin-top: 9px;
  color: var(--footer-contact-color);
  text-decoration: none;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-link:hover,
.foter-link:focus {
  color: var(--accent-color);
}
